* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.open {
    display: block;
}

.btn-primary {
    color: white;
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
}

.navbar-brand{
    font-family: 'Pattaya', sans-serif;
    /* padding: 10px; */
    font-size: 25px;
    margin-left: 20px;
}

.logo {
    font-family: 'Pattaya', sans-serif;
}

.navbar-brand > a {
    text-decoration: none;
    color: black;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../Image/AnhBia.jpeg);
}

.tab {
    background: white;
    padding: 1rem;
    /* border-top: 10px solid #007bff; */
    border-top: 10px solid #09C6AB;
}
.ctn-heading h3 {
    /* padding: 2em; */
    margin-bottom: 10px;
    line-height: 1.5;
}

.ctn-heading {
    margin-bottom: 5em;
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
}

.card-body  h4 {
    color: #09C6AB;
}



a:hover, a:active, a:focus {
    color: #09C6AB;
    outline: none;
    text-decoration: none;
}

.our-work{
    background: #09C6AB;
    padding: 3rem;
    color: white;
}

.feature {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
    width: 100%;
}

.icon {
    width: 90px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: #09C6AB;
}

.feature .icon {
    border-radius: 50%;
    display: table;
    text-align: center;
    margin: 0 auto 40px auto;
}

.feature .icon i {
    display: table-cell;
    vertical-align: middle;
    height: 90px;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
}

.feature h4 {
    margin-bottom: 40px;
}

.feature h4 p {
    line-height: 1.25;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #0adec0 !important;
    border-color: #0adec0 !important;
}

.subscribe {
    padding: 40px;
    text-align: center;
}


@media (min-width: 768px){
    .card:hover{
        margin-top: -.5rem;
        margin-bottom: .5rem;
        box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
        transition: linear 0.2s;
    }

    /* .feedback {
        max-width: 720px;
    } */
    .card:hover .btn {
        opacity: 1;
    }

    .dropdown:hover .dropdown-menu{
		display: block;
    }
    
	.dropdown-menu{
		margin-top: 0;
    }
    
	.dropdown-toggle{
		margin-bottom: 2px;
    }
    
	.navbar .dropdown-toggle, .dropdown-toggle{
		margin-bottom: 0;
	}
}

