:root {
    --bg-color-dark: #131c27;
    --bg-color-light: #ffffff;
    --font-color-dark: white;
    --font-color-light: black;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 2.6rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 2rem;
    font-weight: normal;
}

h4, h5{
    font-size: 1.8rem;
}

p, input, li, button, label {
    font-size: 1.8rem;
}
a{
    color: var(--font-color-light);
    text-decoration: none;
}

button{
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    color: white;
    font-size: 1.8rem;
}

button:hover{
    background: #3172c2;
    outline-style: solid ;
}

/* Navbar section */
.main-head{
    background: var(--bg-color-light);
    color: black;
    position: fixed;
    /* position: sticky; */
    z-index: 1;
    top: 0;
    width: 100%;
}

nav{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    align-items: center; 
    justify-content: space-around;
    list-style: none;
}

#logo , #logo-footer{
    font-family: 'Pattaya', sans-serif;
    flex: 2 1 40rem;
}

.hero {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../Image/AnhBia.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h3{
    padding: 5rem;
}

/* Benefit section */
#services{
    min-height: 100vh;
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.6), transparent), url(../Image/Hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.services-head{
    width: 90%;
    /* margin: auto auto 10% auto; */
    margin: auto;
    color: white;
}

.services-head h2, h3{
    padding: 1rem 0rem;
    /* text-decoration: underline; */
}

/* Location Section */

.locations-head{
    background: var(--bg-color-light);
    padding: 3rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color-light);
    text-align: center;
}

/* .locations-head h3{
    padding: 1rem;
} */

.cards-section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap ;
    min-height: 70vh;
    align-items: center;
}

.card{ 
    width: 90%;
    flex: 1 1 25rem;
    margin: 2rem 5rem;
    min-height: 40vh;
    align-items: center;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.card p {
    padding: 1rem;
}

.card h3 {
    padding: 2rem;
}

.card ul li {
    padding: 1rem;
}

.card-btn{
    padding: 2rem 4rem;
    /* background: #4c6e97;
    border: none;
    color: white; */
    font-size: 1.6rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.location-title{
    height: 8rem;
    color: white;
    background-color: #343c44;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact */
#contact {
    min-height: 80vh;
    background: var(--bg-color-dark);
    margin: auto;
    display: flex;
    flex-wrap: wrap ;
}

.contact-header {
    /* flex: 1 1 40rem; */
    color: var(--font-color-dark);
    margin: auto;
    width: 90%;
}

.contact-main {
    text-align: center;
}
.contact-img{
    flex: 1 1 40rem;
    filter: invert(100%);
    max-width:50%;
    height: auto;
    padding: 1rem;
}

/* Footer */
footer {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}

/* Media query */
@media screen and (max-width: 888px){
    html{
        font-size: 45%;
    }
   nav{
       text-align: center;
   }
   #logo{
       padding: 1rem;
   }

   nav ul {
       padding: 1rem;
   }

   /* SERVICES */

   .services-head h3{
    background: rgba(19, 28, 39, 0.7);
    }
}