
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.open {
    display: block;
}

:focus {
    /* height: 50px; */
    outline-width: 0px;
}

.navbar-brand{
    font-family: 'Pattaya', sans-serif;
    /* padding: 10px; */
    font-size: 25px;
    margin-left: 20px;
}

.logo {
    font-family: 'Pattaya', sans-serif;
}

.navbar-brand > a {
    text-decoration: none;
    color: black;
}
/* 
.page-footer {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
} */

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}


.pricing .card-price {
    font-size: 2rem;
    margin: 0;
}

.currency {
    font-size: 1rem;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    margin-top: 10px;
  }

.card{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

#footer {
    padding: 60px, 0;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

@media (min-width: 768px){
    .card-pricing:hover{
        /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1); */
        transition: linear 0.1s;
        margin-top: -.3rem;
        margin-bottom: .3rem;
    }

    /* .feedback {
        max-width: 720px;
    } */
    .pricing .card:hover .btn {
        opacity: 1;
      }

      .dropdown:hover .dropdown-menu{
		display: block;
    }
    
	.dropdown-menu{
		margin-top: 0;
    }
    
	.dropdown-toggle{
		margin-bottom: 2px;
    }
    
	.navbar .dropdown-toggle, .dropdown-toggle{
		margin-bottom: 0;
	}
}
